.movie-list {
    margin: 8px ;
    padding: 5px;
    transition: transform 1s ;
    min-width: 160px;

}
.movie-list:hover{
    transform: scale(1.2);
    cursor: pointer;
    
    
}
img{
    border: 1px solid salmon;
    position: relative;
    border-radius: 15px;
    box-shadow: 15px 10px 8px grey;
    width: 100%;
}

.movie-list:hover .overlay{
    opacity: 1;
}
.overlay{
    margin-top: 180px;
    opacity: 0;
    box-sizing: border-box;
    min-width: 95%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    transition: 0.5s ease;
    bottom: 0;
    font-size: 14px;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    
}