.movie-details{
    display: block;
}
.movie-details div{
    display: inline-block;
    padding: 10px;
}
.sidebar{
    background: linear-gradient(crimson,purple);
    color: white;
    padding: 15px;
    box-shadow: 15px 8px 5px black;
}
video{
    width: 100%;
}