*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  border-radius: 10px;  
  background: linear-gradient(blue,rgb(221, 75, 99));
  
}
:root::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: red;
  
}
::-webkit-scrollbar-corner{
  background: linear-gradient(red,blue);
}